  * {
     margin: 0;
     padding: 0;
     border: none;
     outline: none;
     box-sizing: border-box;

 }
body {
    margin: 0 auto;
    max-width: 1200px;
}
 .wrapper {
     max-width: 1200px;
     height: 100vh;
     padding-bottom: 18px;
     border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);
 }

 .header {
     color: #46A358;
     font-family: "Cera Pro";
     font-weight: 400;
     
 }

 .bar {
     display: inline-block;
     font-family: "Cera Pro";
     font-weight: 400;
 }

 .first {
     width: 20%;
     margin: 10px;
     
 }

 .middle {
     margin-right: 300px;
 }

 a {
     margin: 10px;
 }

 .last {
    display: inline-block;
    background: rgba(70, 163, 88, 1);
    color: white;
    border-radius: 6px;
    width: 100px;
    padding: 8px 16px;
    img {
      margin-top: -2px;
      margin-right: 4px;
    }
 }

 .last img {
     margin-right: 4px;
     width: 20px;
     height: 20px;
     vertical-align: middle;

 }

 main {
     display: inline-block;
     margin-top: auto;
     padding: 0%;
     vertical-align: 44px;
     font-family: "Cera Pro";
 }

 h5 {
     background-color: transparent;
     color: #3D3D3D;
     margin-bottom: 7px;
     font-family: "Cera Pro";
     font-weight: 500;

 }

 h1 {
     width: 530px;
     line height: 70px;
     margin: 7px 5px;
     font-size: 4em;
     box-sizing: border-box;
     font-family: "Cera Pro";
     font-weight: 900;

 }

 p {
     background-color: transparent;
     color: #727272;
     margin-bottom: 44px;
     font-family: "Cera Pro";
     font-weight: 400;
 }

 .colortext {
     color: #46A358;
 }

 .text {
     display: inline-block;
     max-width: 500px;
     vertical-align: top;
     margin-top: 68px;
     font-family: "Cera Pro";
     font-weight: 900;
 }

 .bodyimg {
     display: inline-block;
     max-width: 507px;
     margin: 0 auto;
     padding: 100px;
 }


 .footer {
     background-color: #46A358;
     color: #FFFFFF;
     margin-right: auto;
     border: 5px;
     padding: 10px 26px ;
     border-radius: 5px;
     width: 140px;
     line height: 20px;
     font-weight: bold;

 }