* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    align-content: center;

}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
    font-family: "Cera Pro";
    font-weight: normal;
    align-items: center;
    vertical-align: middle;
}

.top ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 40px;
    line-height: 16px;
    list-style: none;
    

}

a {
    text-decoration: none;
}

.top li {
    display: flex;
    align-items: center;
    margin-right: 38px;
    
}

.top .lastchild {
    margin-left: auto;
}

.top a:hover {
   color: #46A358;
   text-decoration: underline;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 34px;
    margin:auto;
}



.overlay {
    position: absolute;
    transition: .3s ease;
    background-color: transparent;
    top: 260px;
    opacity: 0;
    width: 125px;
    height: 40px;
}

.container:hover .overlay {
    opacity: 1;
}

.overlay2 {
    position: absolute;
    transition: .3s ease;
    background-color: transparent;
    opacity: 0;
    left: 612px;
    width: 80px;
    top: 0;
}

.container:hover .overlay2 {
    opacity: 1;
}