* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #FBFBFB;
    margin-top: 37px;
    gap: 10px;

}

.left-side, .right-side {
    max-width: fit-content;
    font-family: "Cera Pro";
    text-align: right;
    padding: 36px 30px;

    
}
.item img {
    background-color: #FBFBFB;
}

.container h3 {
    color: #3D3D3D;
    font-family: "Cera Pro";
    font-weight: 900;
    line-height: 24px;
    font-style: normal;
}

p {
    width: 292px;
    line-height: 24px;
    font-family: "Cera Pro";
    font-weight: 400;
    color: #727272;
}

.btn {
    border-radius: 6px;
    background-color: #46A358;
    color: #FFFFFF;
    padding: 11px 28px;
    margin-top: 25px;
    

    img {
        margin-left: 2px;
        vertical-align: middle;
    }
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 52px;
    align-items:baseline;
    text-align: left;
    gap: 44px;

}

h5 {
    color: #46A358;
    line-height: 16px;
    font-family: "Cera Pro";
    font-weight: 700;
    margin: 4px 9px;
    padding-top: 9px;
}

.container1 h3 {
    color: #3D3D3D;
    line-height: 26px;
    font-family: "Cera Pro";
    font-weight: 900;
    margin-bottom: 4px;

}

.container1 p {
    color: #727272;
    line-height: 14px;
    font-family: "Cera Pro";
    font-weight: 400;
    margin-bottom: 4px;
}

.container1 a {
    color:#3D3D3D;
    font-family: "Cera Pro";
    font-weight: 500;
    margin-top: 15px;
    img {
        vertical-align: middle;
        color: #3D3D3D;
        
        }
    }
    a:hover {
        color: #46A358;
    }



.header2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    gap: 15px;
}

.header2 h2 {
    color: #3D3D3D;
    line-height: 24px;
    margin-top: 138px;
    font-family: "Cera Pro";
    font-weight: 700;

}

.header2 p {
    color: #727272;
    line-height: 24px;
    font-family: "Cera Pro";
    font-weight: 400;
    max-width: max-content;
}

.readmore {
    padding-bottom: 12px;
    margin-top: 10px;
}

.backcolor {
    background-color: #FBFBFB;
    padding: 9px 11px;

}

.flower {
    width: 100%;
    display: block;
}